.body {
  margin: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas {
  width: 500px;
  height: 500px;
  border: 2px solid #ff00ff;
  box-shadow: 0 0 20px #ff00ff88;
  cursor: grab;
}
