body{
    font-family: Arial,s ans-serif;
    text-align: center;
}

h1{
    color:#333;
}

inout {
    padding: 5px;
    margin:10px;
    border: 1px solid #ccc;
    border-radius: 5px
}

button{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#333;
    color:#fff;
    cursor:pointer;
}

button:hover{
    background-color: aliceblue;
}

p{
    margin: 10px;
    color:#333
}